.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100;

  .name {
    margin: 0;
  }

  img {
    border-radius: 50%;
    height: 25%;
    width: 25%;
  }

  .info {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 1rem;

    ion-icon {
      font-size: 1.3rem;
      margin-right: 1rem;
    }

    a {
      color: inherit;
      text-decoration: inherit;
    }
  }

}
