<div class="content">
  <ion-text class="name">
    <h5>Adrian Canias Rey</h5>
  </ion-text>
  <img src="assets/images/avatar.jpg" alt="avatar">
  <div class="data">
    <ion-text class="info" id="telf">
      <ion-icon name="call">
      </ion-icon>
      <a href="tel:+34 605 91 92 93">+34 605 91 92 93</a>
    </ion-text>
    <ion-text class="info" id="email">
      <ion-icon name="mail">
      </ion-icon>
      <a href="mailto:adrian.canias.rey@gmail.com">adrian.canias.rey@gmail.com</a>
    </ion-text>
  </div>
</div>
