<div class="search-bar">
  <form [formGroup]="searchForm">
    <div class="form">
      <ion-item color="dark">
        <ion-input id="title" type="text" formControlName="title" placeholder="Title*" clearInput="true" debounce="500"
          (ionChange)="sendResponse()"></ion-input>
      </ion-item>
      <ion-item color="dark">
        <ion-input if="year" type="number" formControlName="year" placeholder="Year" clearInput="true" debounce="500"
          (ionChange)="sendResponse()"></ion-input>
      </ion-item>
      <ion-icon name="search" color="primary"></ion-icon>
    </div>
  </form>
</div>
